# Resources required by the sample browser and most samples.
[Essential]

#FileSystem=..\Dependencies\ogre-1.11.5\Samples\Media\thumbnails

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[General]
#Custom Paths
FileSystem= Assets\Mesh\
FileSystem= Assets\Materials\
FileSystem= Assets\Textures\
FileSystem= Assets\Fonts\
FileSystem= Assets\Overlay\
FileSystem= Assets\Compositors\
Zip= Assets\Packs\Sinbad.zip
Zip= Assets\Packs\skybox.zip
Zip= Assets\Packs\cubemap.zip
Zip= Assets\Packs\cubemapsJS.zip
Zip= Assets\Packs\Ocean.zip
Zip= Assets\Packs\hell.zip
Zip= Assets\Packs\Spoon.zip
Zip= Assets\Packs\portal.zip
Zip= Assets\Packs\cloud.zip
Zip= Assets\Packs\cloudMesh.zip
Zip= Assets\Packs\rock.zip
Zip= Assets\Packs\Ice.zip
Zip= Assets\Packs\ufo.zip
Zip= Assets\Packs\foot.zip
Zip= Assets\Packs\bug.zip
Zip= Assets\Packs\golem.zip

[Tests]
#FileSystem=..\Dependencies\ogre-1.11.5\Tests\Media
