overlay HUD
{
	zorder 100
	overlay_element PanelContainer Panel
	{
		left 0.0
		top 0.0
		width 1.0
		height 1.0
		
		overlay_element Test TextArea
		{
            metrics_mode pixels
            font_name HackReg
            char_height 40
            colour_top 1 1 0
            colour_bottom 1 0.2 0.2
            left 100
            top 100
            width 40
            caption "HELLO WORLD!!"
            height 40
		}

        overlay_element Crosshair Panel
        {
            left 0.0
		    top 0.0
		    width 1.0
		    height 1.0
            material CrosshairMaterial
        }
	}
}