overlay CROSSHAIR_HUD
{
	zorder 100
	overlay_element CROSSHAIR_HUD_PanelContainer Panel
	{
		left 0.0
		top 0.0
		width 1.0
		height 1.0

        overlay_element Crosshair Panel
        {
            left 0.0
		    top 0.0
		    width 1.0
		    height 1.0
            material CrosshairMaterial
        }
	}
}