overlay HUD
{
	zorder 100
	overlay_element HUD_PanelContainer Panel
	{
		left 0.0
		top 0.0
		width 1.0
		height 1.0

		overlay_element HP_Text TextArea
		{
            metrics_mode relative
            font_name HackReg
            char_height 0.05
            colour_top 1 1 0
            colour_bottom 1 0.2 0.2
            left 0.01
            top 0.02
            caption "HP: "
		}

        overlay_element SCORE_Text TextArea
		{
            metrics_mode relative
            font_name HackReg
            char_height 0.05
            colour_top 1 1 0
            colour_bottom 1 0.2 0.2
            left 0.01
            top 0.07
            caption "SCORE: "
		}
		
        overlay_element Scope Panel
        {
            left 0.0
		    top 0.0
		    width 0.05
		    height 0.06
            material ScopeMaterial
        }
	}

    overlay_element DEATH_PANEL Panel
    {
        overlay_element DEATH_TEXT TextArea
        {
            metrics_mode relative
            font_name HackReg
            char_height 0.05
            colour_top 1 1 0
            colour_bottom 1 0.2 0.2
            left 0.4
            top 0.45
            caption "YOU ARE DEAD"
        }
    }
}
