overlay PAUSE
{
	zorder 100
	overlay_element PAUSE_PanelContainer Panel
	{
		left 0.0
		top 0.0
		width 1.0
		height 1.0

		overlay_element PAUSE_Text TextArea
		{
            metrics_mode relative
            font_name Metal-Mania
            char_height 0.05
            colour_top 1 1 1
            colour_bottom 1 1 1
            left 0.45
            top 0.45
            caption "PAUSED"
		}
	}
}
